* {
  box-sizing: border-box;
  background-color: var(--grey-pink);
}

:root {
  --grey-pink: #f7edf0;
  --light-pink: #f4cbc6;
  --pink: #f4afab;
  --blue: #577590;
  --green: #a6b29d;
  --yellow: #f4eea9;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* !! NAV BAR !! */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px 0 8px 0;
  font-size: 150%;
  border-bottom: 2px solid var(--pink);
}

a {
  text-decoration: none;
  color: var(--blue);
}

/*  !! MAIN CONTENT !! */

/* ## ABOUT ME SECTION ## */
#about-me {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--pink);
}

/* My name & picture */
.div-left {
  max-width: 50%;
  padding: 0 0 3% 3%;
}

.div-left h1 {
  font-size: 4rem;
  color: var(--blue);
  max-width: 100%;
  margin-bottom: 4%;
  text-align: center;
}

.div-left img {
  height: auto;
  width: auto;
  max-width: 100%;
  border: 10px solid var(--green);
  padding: 4% 4%;
}

/* About me heading & paragraph (inclu. fun fact) */
.div-right {
  max-width: 50%;
  padding: 0 3% 0 3%;
}

.div-right h2 {
  font-size: 2.5rem;
  color: var(--blue);
  text-align: center;
  margin-bottom: 5%;
}

.div-right p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.div-right .fun-fact {
  color: var(--green);
  font-size: 1.25rem;
  line-height: 1.8rem;
  font-weight: bold;
  margin-top: 8%;
}

/*  ## MY WORK SECTION ## */
#my-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--pink);
}

#my-work h2 {
  font-size: 2.5rem;
  color: var(--blue);
  text-align: center;
  margin: 3% 0 3% 0;
}

/*  Glass Animals */
.project1 {
  max-width: 100%;
  margin: 0 3% 0% 3%;
}

.project1 h3 {
  background-color: var(--blue);
  color: var(--light-pink);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.project1 img {
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 1% 1%;
  border: 8px solid var(--blue);
  margin-bottom: 1%;
}

.project1 p {
  font-size: 1.25rem;
  text-align: center;
}

/* Horiseon & placeholder */
.project {
  max-width: 50%;
  margin-top: 5%;
}

.project h3 {
  background-color: var(--blue);
  color: var(--light-pink);
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.project img {
  height: auto;
  width: auto;
  max-width: 100%;
  padding: 2% 2%;
  border: 5px solid var(--blue);
}

.project p {
}

/* Need to add highlight when hovering over project imgs */

#my-work img:hover {
}

/* ## CONTACT SECTION ## */
.contact {
  display: flex;
  flex-wrap: wrap;
}

#contact-me {
  max-width: 75%;
}

#contact-me h2 {
  font-size: 2.5rem;
  color: var(--blue);
  text-align: center;
  margin: 20px 0 20px 0;
}

.label {
font-size: 1.3rem;
color: var(--blue);
font-weight: bold;
margin: 2% 0 2% 0;
}

.text input, .text textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  border: 2px solid var(--blue);
  background-color: var(--yellow);
  width: 100%;
  padding: 8px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 15px 20px;
  float: right;
  margin-top: 8px;
}

/* !! ASIDE CONTENT !! */

.aside {
  max-width: 25%;
}

.aside h3 {
  font-size: 2rem;
  color: var(--blue);
  text-align: center;
}

.fa {
  background-color: var(--blue);
  color: white;
  padding: 20px;
  font-size: 80px;
  width: 100%;
  text-align: center;
  text-decoration: none;

}

/* MEDIA QUEREY changes */

/* tablet (small desktop): 

about me - paragraph now below pic

my work - project 1 (left & largest) with description below, project 2 & 3 pic on left with descrption on right & projects stacked

social media links- vertically listed
*/

/* phone/mobile:

nav - vertically stacked

evrything else stacked
about me, pic, paragraph, dream, my work, projects, pic, description, contact me, sm links (2 then 1)

*/
